.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
}

.recipes__title {
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  max-width: 580px;
  padding-top: 100px;
  padding-left: 80px;
}

.recipes__subtitle {
  font-family: "Noto serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 52px;
  color: #fff;
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
}

.recipes__videos {
  margin-top: 80px;
  padding-bottom: 215px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.recipes__videos_wrapper {
  display: flex;
  flex-direction: column;
}

.recipes__iframe_content {
  width: 480px;
  height: 273px;
  border: 0px;
}

.recipes__video-caption {
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__video-caption_list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
